* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/theofficebg.jpg");
    background-repeat: no-repeat;
  background-size: 100% 125%;
    /* background-size: cover; */
}
#div-start {
    background-image: url("../images/blackboard.jpg");
    margin-left: 4%;
    margin-top: 3%;
    height: 90vh;
    text-align: center;
    overflow: auto;
    color: white;
}

.img-fluid {
    width: 60%;
    height: auto;
}

#start-button {
    padding: 1% 1.5% 1% 1.5%;
    font-size: 1em;
    margin-top: 25%;
}

.questions {
    margin-top: 25%;
}

#clock {
    width: 4.5%;
    height: 9%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 18.5%;
    top: 22.9%;
    text-align: center;
    line-height: 325%;
    font-size: larger;
}

#qTitle {

}

.answerBtn {
    margin: 1%;
    padding: 1%;
}